[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "external/soci"]
	path = external/soci
	url = https://github.com/SOCI/soci
[submodule "external/IconFontCppHeaders"]
	path = external/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/ImGuiColorTextEdit"]
	path = external/ImGuiColorTextEdit
	url = https://github.com/santaclose/ImGuiColorTextEdit.git
