[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/IconFontCppHeaders"]
	path = external/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "external/imgui-node-editor"]
	path = external/imgui-node-editor
	url = https://github.com/dunkbing/imgui-node-editor.git
[submodule "external/imgui_test_engine"]
	path = external/imgui_test_engine
	url = https://github.com/ocornut/imgui_test_engine.git
[submodule "external/cpp-httplib"]
	path = external/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "external/ImGuiPack"]
	path = external/ImGuiPack
	url = https://github.com/dunkbing/ImGuiPack
	branch = bing
[submodule "website"]
	path = website
	url = https://github.com/dunkbing/dearsql-website
