[Desktop Entry]
Name=DearSQL
Comment=SQL Database Client
Exec=dear-sql
Icon=io.gitlab.dunkbing.dearsql
Terminal=false
Type=Application
StartupWMClass=io.gitlab.dunkbing.dearsql
Categories=Development;Database;IDE;
Keywords=sql;database;sqlite;postgresql;mysql;redis;mongodb;
